@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #091B50;
  --secondary: #E3A70C;
}

body {
  font-size: 14px;
  list-style: 22px;
}

.rdrInputRanges {
  padding: 0 !important;
}

.rdrHide .rdrCalendarWrapper.rdrDateRangeWrapper {
  display: none;
}